@use '../../styles/vars';
@import '../../styles/mixins';

.previous_grids {
  @include flexCenter;
  min-height: 100vh;

  &--container {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    &--item {
      @include flexCenter;
      transition: .2s;
      
      &--button {
        position: absolute;
        background: vars.$main-color;
        border-radius: 50%;
        padding: 10px;
        transition: .3s;
        transform: translateY(50px);
        opacity: 0;

        &--img {
          @include imgStyle;
        }
      }

      &--link {
        @include flexCenter;
        cursor: pointer;
        margin: 20px 0;

        &--grid {
          width: 180px;
          height: 180px;
          transition: .3s;

          &.Easy {
            box-shadow: 0 0 8px 4px vars.$green;
          }

          &.Medium {
            box-shadow: 0 0 8px 4px vars.$yellow;
          }

          &.Hard {
            box-shadow: 0 0 8px 4px vars.$red;
          }

          &--body {
            border: 3px solid vars.$black;

            &--row {

              &:nth-child(3n) {
                border-bottom: 2px solid vars.$black;
              }

              &--content {
                border: 1px solid vars.$black;
                width: 20px;
                min-width: 20px;
                max-width: 20px;
                min-height: 20px;
                max-height: 20px;
                height: 20px;
                text-align: center;
                vertical-align: middle;
                font-size: 10px;

                &:nth-child(3n) {
                  border-right: 2px solid vars.$black;
                }
              }
            }
          }
        }

        &--span {
          position: absolute;
          opacity: 0;
          background: vars.$dark-grey;
          color: vars.$white;
          padding: 5px 10px;
          width: 180px;
          font-size: 0.9em;
          text-align: center;
          transition: 0.3s;
        }
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  &.dark {
    background: vars.$black;

    .previous_grids--container--item--link--grid--body {
      border-color: vars.$light-grey;

      &--row {
        &:nth-child(3n) {
          border-color: inherit;
        }

        &--content {
          border-color: vars.$light-grey;
          color: vars.$light-grey;

          &:nth-child(3n) {
            border-color: inherit;
          }
        }
      }
    }

    .previous_grids--container--item--link--span {
      background: vars.$light-grey;
      color: vars.$black;
    }
  }
}

@media screen and (min-width: 850px) {
  .previous_grids {

    &--container {
      padding: 10vh;
      flex-direction: row;
      flex-wrap: wrap;

      &--item {

        &--link {
          margin: 50px 20px;

          &--grid {
            &.Easy {
              box-shadow: none;
            }

            &.Medium {
              box-shadow: none;
            }

            &.Hard {
              box-shadow: none;
            }
          }
        }

        &--button {

          &:hover {
            background: vars.$main-hover;
          }
        }

        &:hover {
          .previous_grids--container--item--link--span {
            opacity: 1;
          }

          .previous_grids--container--item--button {
            transform: translateY(125px);
            opacity: 1;
          }

          .previous_grids--container--item--link--grid {

            &.Easy {
              box-shadow: 0 0 10px 5px vars.$green;
            }

            &.Medium {
              box-shadow: 0 0 10px 5px vars.$yellow;
            }

            &.Hard {
              box-shadow: 0 0 10px 5px vars.$red;
            }
          }
        }
      }
    }
  }
}