@use '../../styles/vars';
@import '../../styles/mixins';

.previous_grids {
  @include flexCenter;
  min-height: 100vh;

  &--container {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    &--item {
      @include flexCenter;
      transition: .2s;

      &--link {
        @include flexCenter;
        cursor: pointer;
        margin: 20px 0;
      
        &--button {
          position: absolute;
          background: vars.$main-color;
          border-radius: 50%;
          padding: 10px;
          transition: .3s;
          transform: translateY(50px);
          opacity: 0;
  
          &--img {
            @include imgStyle;
          }
        }

        &--grid {
          width: 180px;
          height: 180px;
          transition: .3s;

          &.easy {
            box-shadow: 0 0 8px 4px vars.$green;
          }

          &.medium {
            box-shadow: 0 0 8px 4px vars.$orange;
          }

          &.hard {
            box-shadow: 0 0 8px 4px vars.$red;
          }

          &--body {
            border: 3px solid vars.$black;

            &--row {

              &:nth-child(3n) {
                border-bottom: 2px solid vars.$black;
              }

              &--content {
                border: 1px solid vars.$black;
                width: 20px;
                min-width: 20px;
                max-width: 20px;
                min-height: 20px;
                max-height: 20px;
                height: 20px;
                text-align: center;
                vertical-align: middle;
                font-size: 10px;

                &:nth-child(3n) {
                  border-right: 2px solid vars.$black;
                }
              }
            }
          }
        }

        &--span {
          position: absolute;
          opacity: 0;
          background: vars.$dark-grey;
          color: vars.$white;
          padding: 5px 10px;
          width: 180px;
          font-size: 0.9em;
          text-align: center;
          transition: 0.1s;
        }
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .previous_grids {

    &--container {
      padding: 10vh;
      flex-direction: row;
      flex-wrap: wrap;

      &--item {

        &--link {
          margin: 50px 20px;

          &--button {

            &:hover {
              background: vars.$main-hover;
            }
          }

          &--grid {
            &.easy {
              box-shadow: none;
            }

            &.medium {
              box-shadow: none;
            }

            &.hard {
              box-shadow: none;
            }
          }

          &:hover {
            .previous_grids--container--item--link--span {
              opacity: 1;
            }

            .previous_grids--container--item--link--button {
              transform: translateY(120px);
              opacity: 1;
            }

            .previous_grids--container--item--link--grid {

              &.easy {
                box-shadow: 0 0 10px 5px vars.$green;
              }

              &.medium {
                box-shadow: 0 0 10px 5px vars.$orange;
              }

              &.hard {
                box-shadow: 0 0 10px 5px vars.$red;
              }
            }
          }
        }
      }
    }
  }
}