@use '../../styles/vars';
@import '../../styles/mixins';

.home__button {
  @include posFixed(5px, auto, auto, 5px);
  @include buttonStyle;
  background: vars.$main-color;
  font-size: 12px;

  &--label {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .home__button {
    top: 20px;
    left: 20px;
    background: vars.$main-color;
    font-size: 15px;
  
    &:hover {
      background: vars.$main-hover;
    }

    &--label {
      display: contents;
    }
  }
}