@use '../../styles/vars';
@import '../../styles/mixins';

.menu {
  @include flexCenter;
  flex-direction: column;
  margin-top: 50px;

  &--link {
    @include buttonStyle;
    margin-top: 20px;

    &.start {
      background: vars.$main-color;

      &:hover {
        background: vars.$main-hover;
      }
    }

    &.previous {
      background: #ec7f19;

      &:hover {
        background: #ee9037;
      }
    }
  }
}