@use '../../styles/vars';
@import '../../styles/mixins';

.menu {
  margin-top: 50px;

  &--link {
    @include buttonStyle;

    &.start {
      background: vars.$main-color;

      &:hover {
        background: vars.$main-hover;
      }
    }

    &.previous {
      background: #ec7f19;

      &:hover {
        background: #ee9037;
      }
    }
  }
}