@use '../../styles/vars';
@import '../../styles/mixins';

.keypad {
  @include posFixed(auto, auto, 0, 50%);
  transform: translateX(-50%);
  transition: .3s;
  z-index: 2;

  &--numbers {
    @include animApparition(.3s);
    transform: translateY(30px);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 50vh;
    background: vars.$black;

    &--item {

      &--button {
        border-radius: vars.$small-radius;
        width: 33.33vw;
        max-width: 16.666vh;
        height: 33.33vw;
        max-height: 16.666vh;
        font-size: 5vw;
        color: vars.$white;
        transition: transform .1s;

        &:active {
          transform: scale(0.9);
        }
      }
    }

    &--clear {
      border-top: 1px solid vars.$light-grey;
      text-align: center;
      width: 100%;
      font-size: 5vw;
      color: vars.$white;
      padding: 5vw;
      transition: transform .1s;

      &:active {
        transform: scale(0.9);
      }
    }
  }

  &.dark {
    .keypad--numbers {
      background: vars.$dark-grey;
    }
  }
}

@media screen and (max-width: 850px) {
  .keypad {
    &--numbers--item:nth-child(even) {
      background: vars.$dark-grey;
    }
    
    &.dark {
      .keypad--numbers--item:nth-child(even) {
        background: vars.$grey;
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .keypad {
    @include posFixed(auto, auto, auto, auto);
    transform: translate(-50%, -50%);
    // @include posFixed(auto, auto, 50px, 50%);
    width: auto;

    &--numbers {
      border-radius: vars.$small-radius;
      width: 300px;

      &--item {
        &--button {
          width: 100px;
          height: 100px;
          font-size: 20px;

          &:hover {
            background-color: vars.$dark-grey;
          }
        }
      }

      &--clear {
        font-size: 1.5rem;
        padding: 1.5rem;
        border: none;

        &:hover {
          background: vars.$dark-grey;
          border-radius: vars.$small-radius;
        }
      }
    }

    &.dark {
      .keypad--numbers {

        &--item--button:hover {
          background: vars.$grey;
        }

        &--clear:hover {
          background: vars.$grey;
        }
      }
    }
  }
}