@use '../../styles/vars';
@import '../../styles/mixins';

.victory {
  @include flexCenter;

  &--content {
    font-weight: bold;
    padding: 20px 40px;
  }
}

@media screen and (min-width: 850px) {
  .victory {

    &--content {
      padding: 50px 100px;
    }
  }
}