@use '../../styles/vars';
@import '../../styles/mixins';

.grid {
  &--body {
    border: 5px solid vars.$black;

    &--row {

      &:nth-child(3n) {
        border-bottom: 3px solid vars.$black;
      }

      &--content {
        border: 1px solid vars.$black;
        width: 4vh;
        min-width: 4vh;
        max-width: 4vh;
        min-height: 4vh;
        max-height: 4vh;
        height: 4vh;
        text-align: center;
        vertical-align: middle;
        font-size: 2vh;

        &:nth-child(3n) {
          border-right: 3px solid vars.$black;
        }

        &.empty {
          &:hover {
            background: vars.$light-grey;
          }
        }

        &.full {
          cursor: default;
        }
      }
    }
  }
}