@use '../../styles/vars';
@import '../../styles/mixins';

.grid {
  @include posCenter;
  border-collapse: collapse;

  &--body {
    border: 10px solid vars.$black;

    &--row {

      &:nth-child(3n) {
        border-bottom: 5px solid vars.$black;
      }

      &--content {
        border: 2px solid vars.$black;
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 50px;

        &--bold {
          font-weight: bold;
          color: red;
        }

        &:nth-child(3n) {
          border-right: 5px solid vars.$black;
        }
      }
    }
  }
}