@use '../../styles/vars';
@import '../../styles/mixins';

.difficulty {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;

  &--button {
    background: vars.$main-color;
    padding: 14px 20px;
    color: vars.$white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: transform 0.1s;

    &:hover {
      background: vars.$main-hover;
    }

    &:active {
      transform: scale(0.95);
    }
    
    &.selected {
      &.easy {
        background: vars.$green;
      }

      &.medium {
        background: vars.$yellow;
      }

      &.hard {
        background: vars.$red;
      }
    }
  }
}