@use '../../styles/vars';
@import '../../styles/mixins';

.lang {
  @include posFixed(10px, 10px, auto, auto);

  &--button {
    border-radius: vars.$small-radius;
    padding: 1px 5px;
    transition: transform 0.2s;

    &--icon {
      @include flexCenter;
      width: 20px;
      height: 20px;

      &--img {
        width: 100%;
        height: 100%;
      }
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

@media screen and (min-width: 850px) {
  .lang {
    &--button {

      &:hover {
        background: vars.$light-grey;
      }

      &--icon {
        width: 25px;
        height: 25px;
      }
    }

    &.dark {
      .lang--button:hover {
        background: vars.$grey;
      }
    }
  }
}