@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin posCenter {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin posAbsolute ($top: 0, $right: 0, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin posFixed ($top: 0, $right: 0, $bottom: auto, $left: auto) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin animApparition ($time: 1s, $delay: 0s) {
  opacity: 0;
  animation: apparition $time $delay ease-out forwards;
}

@mixin buttonStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9em 1.5em;
  border-radius: 15px;
  color: vars.$white;
  transition: transform .1s;

  &:active {
    transform: scale(0.95);
  }
}

@mixin imgStyle {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--icon {
    width: 100%;
    height: 100%;
  }
}