@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin posCenter {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin posAbsolute ($top: 0, $right: 0, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin posFixed ($top: 0, $right: 0, $bottom: auto, $left: auto) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin animApparition ($time: 1s, $delay: 0s) {
  opacity: 0;
  animation: apparition $time $delay ease-out forwards;
}