$black: #1D2424;
$white: #F8F7F9;

$light-grey: #bbbec0;
$grey: #909ba1;
$dark-grey: #2f3235; 

$green: #4bb47c;
$green-hover: #84c4a5;

$red: crimson;
$red-hover: rgb(201, 86, 109);

$main-color: #3498db;
$main-hover: #59b9fa;