$black: #1D2424;
$white: #ececec;

$light-grey: #d6d8da;
$grey: #485a70;
$dark-grey: #2f3235;

$green: #4bb47c;
$green-hover: #71b996;

$red: #ff0d3d;
$red-hover: #f03056;

$orange: #ff6600;
$orange-hover: #fd822f;

$yellow: #ffbc03;
$yellow-hover: #fcc634;

$main-color: #3498db;
$main-hover: #59b9fa;

$button-radius: 5px;
$medium-radius: 10px;
$small-radius: 5px;