@use '../../styles/vars';
@import '../../styles/mixins';

.functionalities {
  @include posFixed(auto, auto, 10vh, auto);
  @include flexCenter;
  width: 100%;

  &--button {
    @include buttonStyle;
    font-size: 1.5vh;

    &--img {
      @include imgStyle;
      margin-right: 0.5em;
    }

    &--solve {
      background: vars.$red;

      &:hover {
        background: vars.$red-hover;
      }
    }

    &--save {
      background: vars.$main-color;

      &:hover {
        background: vars.$main-hover;
      }
    }

    &--verify {
      background: vars.$green;

      &:hover {
        background: vars.$green-hover;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}