@use '../../styles/vars';
@import '../../styles/mixins';

.functionalities {
  @include posFixed(auto, auto, 10vh, auto);
  @include flexCenter;
  width: 100%;

  &--button {
    color: vars.$white;
    margin: 0 1em;
    padding: 0.8em 1.7em;
    border-radius: 15px;
    font-size: 1.5vh;
    transition: .1s;

    &--solve {
      background: vars.$red;

      &:hover {
        background: vars.$red-hover;
      }
    }

    &--verify {
      background: vars.$green;

      &:hover {
        background: vars.$green-hover;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}