@use '../../styles/vars';
@import '../../styles/mixins';

.functionalities {
  @include flexCenter;
  flex-direction: column;
  z-index: 1;
  height: 10vh;

  &--message {
    color: vars.$red;
    font-weight: bold;
    margin: 40px 0;
    height: 1em;
  }

  &--buttons {
    @include flexCenter;

    &--button {
      @include buttonStyle;
      font-size: 1.5vh;
      margin: 0 1em;

      &--img {
        @include imgStyle;
        margin-right: 0.5em;
      }

      &--solve {
        background: vars.$red;

        &:hover {
          background: vars.$red-hover;
        }
      }

      &--save {
        background: vars.$main-color;

        &:hover {
          background: vars.$main-hover;
        }
      }

      &--verify {
        background: vars.$green;

        &:hover {
          background: vars.$green-hover;
        }
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}