@use '../../styles/vars';
@import '../../styles/mixins';

.behind {
  @include posFixed(0, auto, auto, 0);
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.modal {
  @include posFixed(0, auto, auto, 0);
  @include flexCenter;
  width: 100vw;
  height: 100vh;
  background: rgba(vars.$black, 0.9);
  z-index: 6;
  transition: .3s;

  &--container {
    @include posFixed(50%, auto, auto, 50%);
    transform: translate(-50%, -50%);
    @include flexCenter;
    flex-direction: column;
    min-width: 270px;
    max-width: 90vw;
    max-height: 80vh;
    z-index: 7;
    padding: 70px 0 40px;
    border-radius: 10px;
    background: vars.$white;

    &--close {
      @include flexCenter;
      @include posAbsolute(0.5em, 0.5em, auto, auto);
      width: 40px;
      height: 40px;
      padding: 0.8em;
      transition: transform .2s;

      &--label {
        position: absolute;
        visibility: hidden;
      }
    
      &--icon {
        font-size: 40px;
        transform: rotate(45deg);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  &.dark {
    .modal--container {
      background: vars.$dark-grey;
      color: vars.$white;

      &--close {
        color: vars.$white;
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .modal {
    &--container {
      max-width: 50em;
      max-height: 80vh;
      padding: 100px 150px 50px;

      &--close {
        border-radius: 50%;
        
        &:hover {
          background: vars.$light-grey;
        }
      }
    }

    &.dark {
      .modal--container--close:hover {
        background: vars.$black;
      }
    }
  }
}