@use '../../styles/vars';
@import '../../styles/mixins';

.icon {
  @include flexCenter;
  width: 15px;
  height: 15px;
  margin: 0 5px;

  &--img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 850px) {
  .icon {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
  }
}